body {
    font-family: "Lora";
    margin: 0;
    padding: 0;  
    background-color: #f5f5f5;  
}

#header {
    background-color: darkred;
    color: white; 
    position: sticky;  
    /* To support stickiness for older browsers: */
    position: -webkit-sticky;              
    top: 0;  
    z-index: 1;
}

.code {
    font-family: "Inconsolata";
    color: darkslateblue;
    line-height: 0.1;
}

.indent {
    text-indent: 1%;    
}

.padding {
    color: white;
    background-color: grey;
    padding: 30px;
}

.padding .code {
    color: lightblue;
}

.margin {
    margin: 5%;
    background-color: lightgrey;
}

.text-section {
    margin: 0 0;
    padding: 30px;
    padding-bottom: 1rem;
    background-color: #f5f5f5;
}

.section-1 {
    position: relative;
    background-color: white;    
}

.pos-relative {
    position: relative;    
}

.pos-absolute {
    position: absolute;
    background-color: #fff4e3;
    top: 145px;    
    left: 150px;
    padding: 0 10px;
}